.webgame-card {
    display: flex;
    align-items: center;

    gap: 24px;
    text-decoration: none;
    color: black;
    
    padding: 10px;
    border-radius: 10px;
    border: 4px solid #99b;
    background-color: #cce;

    width: 900px;
}

.games-img {
    all: unset;
    height: 200px !important;
    object-fit: cover !important;
    border-radius: 10px !important;
}
