a {
    display: flex;
    flex: auto;
    gap: 24px;
    text-decoration: none;
    color: black;
    
    padding: 10px;
    border-radius: 10px;
    border: 4px solid #99b;
    background-color: #cce;

    width: 750px;
}
h2 {
    margin: 0;
}
p {
    margin: 0;
}